.title-word{
    animation: color-animation 4s linear infinite;
    
}
.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
    --color-4:#DB7093;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
    --color-4:#32CD32;
  }
  .title-word-3{
    --color-1:#F08080;
    --color-2:#DA70D6;
    --color-3:#2F4F4F;
    --color-4:#40E0D0;
  }
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  .title {
    font-family: serif, red serifs;
    font-style: oblique;
    font-weight: 800;
    font-size: 4.0vw;
    text-transform: uppercase;
  }
  #para{
    font-size: 25px;
    color:#800000;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
  }