/* .main_div{
    width:100%;
    height:900px;
}
.child1{
    display:flex;
    width:100%;
    height:225px;
}
.para1{
    height:225px;
    width:75%;
    padding:35px;
    font-size:20px;
}
.para2{
    border:2px solid black;
    height:225px;
    width:25%;
    background-image: url("/IMAGES/JS.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 250px;
    cursor: pointer;
}
.para3{
    height:225px;
    width:75%;
    padding:35px;
    font-size:20px;
}
.para4{
    border:2px solid black;
    height:225px;
    width:25%;
    background-image: url("/IMAGES/REACT.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 225px;
    cursor: pointer;
}
.pic1{
    border:2px solid black;
    height:225px;
    width:25%;
    background-image: url("/IMAGES/Angular\ js.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 225px;
    cursor: pointer;
}
.pic2{
    height:225px;
    width:75%;
    padding:35px;
    font-size:20px;
}
.pic3{
    border:2px solid black;
    height:225px;
    width:25%;
    background-image: url("/IMAGES/Tailwind.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 225px;
    cursor: pointer;
}
.pic4{
    height:225px;
    width:75%;
    padding:35px;
    font-size:20px;
} */


/* /////////////////////////////////////////////////////////////////////////////// */



/* .item1{
    font-size: 27px;
    margin-left: 730px;
}
.item2{
    font-size: 27px;
    margin-left: 715px;
}
.par1{
    font-size: 20px;
    margin:20px;
}
.par2{
    font-size: 20px;
    margin:20px;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

/*  body{
    border:1px solid black;
    width:100%;
    height:900px;
    background-color: #dfeaee;
    background-image: url("/IMAGES/idcard4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 900px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.id{
    width:360px;
    height:220px;
    margin-top: 472px;
    margin-left: 495px;
    border-radius: 10px;
    background-color: #daf7f5;
}
.id1{
    width:360px;
    height:160px;
    padding: 10px;
    display: flex;
}
.id11{
    width:130px;
    height:140px;
    border-radius: 10px;
    background-image: url("/IMAGES/me.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: 200% 240px;
    box-shadow: 3px 3px 5px black;
}
.id12{
    width:200px;
    height:140px;
    margin-left: 10px;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 11px;
}
h1{
    font-size: 19px;
}
.id2{
    width:360px;
    height:60px;
    padding: 5px;
}
.id21{
    width:100%;
    height:50px;
}
.h1{
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 0px 2px black;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.body{
    border:2px solid black;
    width:100%;
    height:900px;
    
}
.middle_body{
    border:2px solid black;
    width:300px;
    height:auto;
    padding:25px;
    margin: 100px auto;
}
.head{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}
.text input{
    width:250px;
    height:25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.date_age{
    display: flex;
    justify-content: space-between;
}
.date_age .date input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.date_age .age input{
    width:80px;
    height:25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.email input{
    width:250px;
    height:25px;
    outline: none;
    border: none;
    border-bottom: 0.1px solid black;
    cursor: pointer;
}
.password input{
    width:250px;
    height:25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.tel input{
    width:250px;
    height:25px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.button{
    text-align: center;
}











