.background {
    width: 100%;
    height: 100%;
}

.App_body {
    border: 2px solid black;
    width: 350px;
    padding: 10px;
    box-shadow: 0px 0px 20px black;
}

p {
    text-align: center;
    font-size: 30px;
    color: black;
}

p:hover {
    text-decoration: underline;
}

.App_input {
    display: flex;
    justify-content: space-between;
}

.App_input input {
    width: 250px;
    height: 40px;
    font-size: 20px;
    outline: none;
    border: none;
    background: none;
    color: black;
    border-bottom: 1px solid black;
}

.App_input button {
    width: 70px;
    height: 40px;
    font-size: 20px;
}

.App_list {
    margin-top: 20px;
    height: auto;
}

.App_list ul {
    list-style-type: none;
    padding-right: 10px;
}

.App_listEach {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.App_listEach1 {
    padding: 6px 10px 0px 0px;
    font-size: 20px;
    color: black;
}

.App_listEach2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.App_listEach2 li {
    width: 230px;
    overflow: hidden;
    font-size: 20px;
    color: black;
}

.App_listEach2 .Icons {
    font-size: 25px;
    cursor: pointer;
    padding-top: 5px;
    color: black;
}