nav{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: blueviolet;

}
ul{
    display: flex;
    flex-direction:row;
    list-style: none;
    color: snow;
    
    
}
 li {
    flex: 2;
    margin-right: 40px;
    color: snow;
    /* list-style: none; */
}

