/* Navbar1.js   ////////////////////////////////////////////////////////////////////////////// */
.header {
    border: 1px solid white;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #25011b;
    position: fixed;
    z-index: 9999;
}

.block1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 100px;
}

.Gym_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("/IMAGES/ZYM.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    cursor: pointer;
}

.block2 {
    width: 1100px;
    height: 120px;
}

.block2 ul {
    width: 1100px;
    height: 120px;
    display: flex;
    align-items: center;
}

.block2 ul li {
    list-style: none;
    width: 300px;
    text-align: center;
}

.block2 ul li .link {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.block2 ul li .link:hover {
    font-size: 27px;
    text-decoration: underline;
    color: red;
    transition-duration: 200ms;
}