.h1{
  background-image: url(./TirumalaPic.jpeg);
  height:800px;
  background-size: cover;
  background-position: center;
}
.heading{
 background-color: darkslategrey;
  height:100px;
  color: blue;
  font-size: 70px;
  font-family: 'Lucida Sans';
  align-self: center;
}
.p{
  color: rgb(8, 0, 0);
  font-size: 20px;
}
ul{
  font-size: larger;
  float:right;
  list-style-type: none;
  margin-top:25px;
}
ul li{
  display:inline-block;
}
ul li a{
  text-decoration: none;
  color: blue;
  padding:8px 20px;
  border: 3px solid transparent;
  transition:0.6s ease;
  color:rgb(201, 211, 12);

}
